:root{box-sizing:border-box;
padding:0;
margin:0;
}

.magazine-cover{display:grid;
grid-template-areas:"title title title"                                 "feature-article feature-article cover-image"                                                                       "small-article1 small-article2 cover-image";
grid-template-columns:1fr 1fr 1fr;
grid-template-rows:auto 1fr 1fr;
gap:10px;
width:80%;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.title{background-color:#9a9a9f;
width:79%;
position:absolute;

font-size:2rem;
text-align:center;
font-weight:bold;
padding:0.5rem 0.5rem 0.5rem 0.5rem;
height:2.5rem;
grid-area:title;
}


.feature-article{grid-area:feature-article;
padding-top:2rem;
text-align:center;
font-size:1.5rem;
background-color:rgb(236, 230, 230);}



.small-article2{grid-area:small-article2;
background-color:rgb(236, 230, 230);
text-align:center;
font-size:1.5rem;}

.small-article1{grid-area:small-article1;
background-color:rgb(236, 230, 230);
text-align:center;
font-size:1.5rem;}

.cover-image{grid-area:cover-image;
padding-top:3.5rem;
background-color:rgb(236, 230, 230);}

body{display:flex;
justify-content:center;
}


